
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

 .react-datepicker__header.react-datepicker-year-header {
  background-color: #202633;
  color: #d1d5db;
  
}

.react-datepicker__triangle path{
  fill: #202633;
  color:  #202633;
}

.react-datepicker__month-container {
  background-color: #111827;
  color: #d1d5db
}
.react-datepicker__month-text[class^="react-datepicker__month-"]:hover {
  color: #000000; }

